{% extends 'perum/main.html' %}
{% load bootstrap %}
{% block content %}
<div class="container card" style="padding: 0 30px; padding-bottom: 50px;">
	<div class="row" style="margin-bottom: 10px; margin-top: 40px">
		<div class="col-7">
			<h2>Pelanggan</h2>
		</div>

		<div class="col-5" >
			<a href="{% url 'create_pelanggan' %}" type="button" class="btn btn-primary float-right" style="margin-top: 7px; margin-right: 10px;">+ Tambah</a>
		</div>
	</div>

	<div class="card" style="margin: 12px;">
		<div style="padding: 0 50px;">
			<br>
			<h4>Filter</h4>
			<form method="get">
				<div class="row">
					<div class="col-md-5">
						{{ pelangganFilter.form.nama|bootstrap }}
					</div>
					<div class="col-md-2 float-right">
						<button class="btn btn-primary" type="submit" style="margin: 32px;">Search</button>
					</div>
				</div>	
			</form>
		</div>
	</div>
		

	<table class="table table-striped">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col" style="text-align: center;">No.</th>
	      <th scope="col" style="text-align: center;">Nama</th>
	      <th scope="col" style="text-align: center;">No. Telp</th>
	      <th scope="col" style="text-align: center;">Email</th>
	      <th scope="col" style="text-align: center;">No. Unit</th>
	      <th scope="col" style="text-align: center;">Aksi</th>
	    </tr>
	  </thead>

	  {% for i in pelanggans %}
	  <tbody>
	    <tr>
	      <th scope="row" style="text-align: center;">{{i.id}}</th>
	      <td style="text-align: center;">{{i.nama}}</td>
	      <td style="text-align: center;">{{i.no_telp}}</td>
	      <td style="text-align: center;">{{i.email}}</td>
	      <td style="text-align: center;">{{i.no_unit}}</td>
	      <td style="text-align: center;">
		    <a href="{% url 'akun' i.id %}" type="button" class="btn btn-sm btn-info">Lihat</a>

	      	<a href="{% url 'ubah_pelanggan' i.id %}" type="button" class="btn btn-sm btn-success">Ubah</a>

	      	<a href="{% url 'hapus_pelanggan' i.id %}" type="button" class="btn btn-sm btn-danger">Hapus</a>
	      </td>
	    </tr>
	  </tbody>
	  {% endfor %}
	</table>
</div>

{% endblock %}